@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&family=Roboto:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.frc {
		@apply flex flex-row items-center;
	}
	.fcc {
		@apply flex  flex-col items-center;
	}
	.Trasition {
		@apply transition-all duration-75;
	}

	.slideleft {
		@apply animate-slowfade  600:animate-slideleft2;
	}
	.slideright {
		@apply animate-slowfade  600:animate-slideright2;
	}
	.backend {
		@apply animate-slideright2;
	}
	.ScaleAnimation {
		@apply hover:scale-125 transition-all duration-75 cursor-pointer;
	}

	.nav_link {
		@apply w-auto h-auto text-[18px] frc hover:text-teal-400 hover:scale-125 transition-all duration-75 cursor-pointer;
	}

	.nav_link-mob {
		@apply w-full h-[60px] text-white frc justify-center text-[20px] hover:text-teal-400 cursor-pointer;
	}

	.btn-cta {
		@apply px-[35px] py-[12px] border hover:scale-110 transition-all duration-75 cursor-pointer bg-teal-500 mt-[30px] justify-center rounded-[5px];
	}

	.skill_img-list {
		@apply w-[50px] h-auto hover:animate-slideTop transition-all duration-75 cursor-pointer m-[10px] mb-0;
	}

	.skill_lang-img {
		@apply w-full h-full hidden 800:flex bg-slate-200 dark:bg-[#000000e2]  relative animate-slideright transform  z-50 flex-row items-center gap-8 justify-center flex-wrap p-4;
	}
}

#monospace {
	font-family: "Share Tech Mono", monospace;
}

#RobotoMono {
	font-family: "Roboto Mono", monospace;
}
#Roboto {
	font-family: "Roboto", sans-serif;
}

#root {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

body {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track {
	background: black;
}

::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 8px;
}
